<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand">Plant Shop</a>
		<div class="user-profile ms-auto">
			<span class="navbar-text">
				<i class="bi bi-person-circle" style="font-size: 20px;"></i>
					<%= user ? user.username : "Guest" %>
			</span>
		</div>
		<form class="form-inline">
			<button class="btn btn-outline-dark" type="submit">
				<i class="bi-cart-fill me-1"></i>
				Cart
				<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
			</button>
		</form>
	</div>
</nav>